.card-image img {
    height: 280px;
    width: 320px;
}

.card {
    width: 320px;

}

.card-content {
    background-color: whitesmoke;
    font-family: "American Typewriter", fantasy;
    text-align: justify;
    font-size: 90%;
}