ul.dot {
    list-style: none;
    color: white;
    font-size: 140%;
    font-family: "American Typewriter", fantasy;
    line-height: 80px;
    position: absolute;
    top: 40%;
    left: 63%;
    width: 37%;
    height: 50%;
}

ul.dot li:before {
    content: "\2022";
    color: #f8c100;
    font-weight: bolder;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
}
