.create-container {
    position: absolute;
    top: 10%;
    left: 60%;
    width: 40%;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: transparent;
    padding: 15px 15px 15px 15px;
}

.materialize-textarea {
    color: #f8c100;
    border-bottom: 1px solid #f8c100;
    box-shadow: 0 1px 0 0 #f8c100;
}