body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, black, transparent, black),
    url("https://wallpapercave.com/wp/wp3087051.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#inputs-container {
    position: absolute;
    top: 30%;
    left: 63%;
    width: 32%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.auth-container {
    position: absolute;
    right: 5%;
    top: 42%;
    width: 30%;
    height: 40%;
}

.error {
    color: red;
}

