.detailed-container {
    position: absolute;
    top: 0;
    bottom: 10%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    /*background-color: rgba(255, 255, 255, 0.2);*/
    padding: 15px 15px 15px 15px;
}

.back-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 7px 34px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    margin: 0 8px 0 8px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.detailed-card-image img {
    height: 450px;
    width: 450px;
}

.detailed-card {
    width: 520px;
}

.detailed-card-content {
    background-color: rgba(255, 255, 255, 0.7);
    font-family: "American Typewriter", fantasy;
    font-size: 100%;
    text-align: justify;
}

.buttons-container {
    background-color: rgba(255, 255, 255, 0.7);
    width: 450px;
    height: 100px;
}