body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, black, transparent, #090909) no-repeat center center fixed,
    url("https://wallpapercave.com/wp/wp3087051.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: ProximaNova, Helvetica, sans-serif;
}

#inputs-container {
    position: absolute;
    top: 20%;
    bottom: 5%;
    left: 63%;
    width: 32%;
    height: 100%;
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.auth-container {
    position: absolute;
    right: 5%;
    top: 42%;
    width: 30%;
    height: 40%;
}

input {
    width: 50%;
    margin-right: 3%;
    justify-content: right;
    border-radius: 5px;
}

.user-info {
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
    justify-content: center;
    border: 2px solid #e9e9e9;
    border-radius: 10px;
    color: #e9e9e9;
}

.user-avatar {
    font-weight: 600;
    font-size: 1.2em;
    width: 25%;
    display: inline-block;
    text-align: center;
    color: #e5e5e5;
    justify-content: center;
}

.avatar-holder {
    margin: 5%;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 64px;
}

.avatar-holder img {
    width: 100%;
    display: block;
    font-size: 100%;
}

.info {
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: center;
    solid-color: #e5e5e5;
    justify-content: center;
}

.user-details {
    margin-bottom: 12px;
    font-size: 100%;
    text-align: center;
}

.username {
    solid-color: #e5e5e5;
    padding-top: 4px;
    font-size: 1.1em;
}

.user-cards {
    border-radius: 10px;
    width: 100%;
    vertical-align: center;
}

.user-cards .box {
    width: 100%;
    margin-bottom: 24px;
    background-color: #f5f2e8;
    font-size: 100%;
    border-radius: 10px;
    vertical-align: center;
}

.content {
    padding: 16px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    font-size: 100%;
}

.box .content h3 {
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 6px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.list-item {
    margin-bottom: 16px;
    display: block;
    font-size: 100%;
    vertical-align: baseline;
}

.labels {
    position: relative;
    float: left;
    width: 42px;
    height: 42px;
    font-size: 0;
}

.labels img {
    width: 100%;
    display: block;
    font-size: 100%;
}

.details {
    padding-left: 54px;
    min-height: 42px;
}

.details .name {
    font-size: 1.125em;
    line-height: 1.125em;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-tap-highlight-color: transparent;
}

.text {
    display: inline-block;
    vertical-align: top;
    /*width: 84%;*/
    padding: 0 0 0 12px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    color: #95999c;
}

.text span.name {
    font-size: 1.125em;
    line-height: 1.125em;
    margin-bottom: 2px;
    color: #95999c;
}

.text span.brewery {
    color: #666;
    font-size: .875em;
}

a {
    color: #c60;
}

h3 {
    color: #222222;
}

.table {
    display: table;
    vertical-align: center;
}

.header {
    display: table-header-group;
    font-weight: bold;
    color: #f8c100;
    text-align: initial;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
    color: #95999c;
}

.cell {
    display: table-cell;
    width: 35%;
}

.error {
    color: red;
}

.form {
    display: inline;
}