<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Access Denied | Beer-Tag</title>
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/bullet.css" th:href="@{/css/bullet.css}">
    <link th:href="@{/css/materialize-input-recolor.css}" href="../static/css/materialize-input-recolor.css"
          rel="stylesheet">
</head>

<body>
<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<h2>Access Denied Page</h2>

<ul id="bullets-container" class="dot">
    <li>You are not authorized to access this resource.</li>
</ul>

</body>
</html>
