<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Admin portal | Beer-Tag</title>

    <link th:href="@{/css/my-style.css}" href="../static/css/my-style.css" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" href="../static/css/buttons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bullet.css" th:href="@{/css/bullet.css}">
    <link th:href="@{/css/materialize-input-recolor.css}" href="../static/css/materialize-input-recolor.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<div class="auth-group">
    <button class="button navigate" onclick="location.href='/users'">Users</button>
    <button class="button navigate" onclick="location.href='/logout'">Logout</button>
</div>

<ul id="bullets-container" class="dot">
    <li>Welcome to Admin Portal.</li>
    <li>You can edit or delete information about beers, users, breweries or styles.</li>
</ul>

</body>
</html>