<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Beer tag</title>
    <link rel="stylesheet" href="../static/css/beers.css" th:href="@{/css/beers.css}">
    <link rel="stylesheet" href="../static/css/beer-card.css" th:href="@{/css/beer-card.css}">
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css"
          th:href="@{/css/materialize-input-recolor.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#filter-input').hide();

            $('select').formSelect();

            $('#filter-select').change(function () {
                const shouldDisplayInput = $(this).val() !== "-1";
                const inputField = $('#filter-input');
                const animationTime = 220;

                if (shouldDisplayInput) {
                    inputField.show(animationTime);
                } else {
                    inputField.hide(animationTime);
                }
            });
        });

        function applyFilter() {
            const sortType = $('#sort-select option:selected').text()
            let pathParams = `?sortType=${sortType}`;

            const hasFilter = $('#filter-select').val() !== "-1";
            if (hasFilter) {
                const filterType = $('#filter-select option:selected').text()
                const filterKey = $('#filter').val()
                pathParams += `&filterType=${filterType}&filterKey=${filterKey}`;
            }

            if (window.location.href.includes("?")) {
                const pathStartIndex = window.location.href.indexOf("?")
                const originalPath = window.location.href.substr(0, pathStartIndex)
                window.location.href = originalPath.concat(pathParams)
            } else {
                window.location.href += pathParams;
            }

        }
    </script>

</head>
<body>
<!-- Header -->
<div class="row" style="margin-top: 20px;">

    <div class="col s1" style="margin-left: 30px">
        <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
             class="home-button"
             alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" onclick="location.href = '/'">
    </div>

    <div class="col s1">
        <button id="apply" class="button register" onclick="applyFilter()">Apply</button>
    </div>


        <div class="auth-group col" style="top: 25px">
            <button class="button login" sec:authorize="isAuthenticated()" th:onclick="'window.location.href = \'/beers/new \''">Create beer</button>
            <button class="button login" sec:authorize="!isAuthenticated()" onclick="window.location='login'">Sign in</button>
            <button class="button register" sec:authorize="!isAuthenticated()" onclick="location.href='/register'" >Join us</button>
            <div class="user-profile-button col" sec:authorize="isAuthenticated()" th:onclick="'window.location.href = \'/profile \''">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2698/2698481.svg"
                     style="width: 40px;height: 40px"
                     alt="https://www.flaticon.com/svg/static/icons/svg/2698/2698481.svg">
                <label style="font-size: 10px">Profile</label>
            </div>
        </div>

    <div class="input-field col s1">
        <select id="sort-select">
            <option value="-1" selected>Any</option>
            <option value="1">Name</option>
            <option value="2">Rating</option>
            <option value="3">ABV</option>
        </select>
        <label for="sort-select">Sort Type</label>
    </div>

    <div class="input-field col s1">
        <select id="filter-select">
            <option value="-1" selected>Any</option>
            <option value="1">Tag</option>
            <option value="2">Style</option>
            <option value="3">Country</option>
        </select>
        <label for="filter-select">Filter Type</label>
    </div>

    <div id="filter-input" class="input-field col s2">
        <input id="filter" type="text" class="validate">
        <label for="filter">Filter</label>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col s4" th:each="beer : ${beers}">
            <div class="card hoverable clickable" th:onclick="'window.location.href = \'/beers/' + ${beer.id} + '\''">
                <div class="card-image">
                    <img class="card-image" th:src="${beer.pictureUrl}"
                         src="https://cdn2.justwineapp.com/assets/article/2017/05/free-images-beer-on-ice-pabst-blue-ribbon-creative-commons-cc-commercial-use-can.jpg">
                    <span class="card-title"
                          style="font-weight: bolder;color: #f8c100 !important;"
                          th:text="${beer.name}">Card Title</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col s9">
                            <p th:text="${'Style: ' + beer.style.name}">Style: Pale Ale</p>
                        </div>
                        <div class="col s3">
                            <p th:text="${'ABV: ' + beer.abv}">ABV: 7.5%</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s9">
                            <p th:text="${'Brewery: ' + beer.brewery.name}">Brewery: Anchorage</p>
                        </div>
                        <div class="col s3">
                            <p th:text="${'Rating: ' + #numbers.formatDecimal(beer.averageRating, 0, 'COMMA', 1, 'POINT')}">Rating: 5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>