<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Beer</title>

    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css"
          th:href="@{/css/materialize-input-recolor.css}">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css">
    <link rel="stylesheet" href="../static/css/create-beer.css" th:href="@{/css/create-beer.css}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });

        function saveBeer(beerId) {
            const form = new FormData()
            form.append("beerImage", $('#picture-input')[0].files[0]);
            form.append('beerData', new Blob([JSON.stringify(getInputJson())], {
                type: "application/json"
            }));

            const url = beerId == null ? "/api/beers" : `/api/beers/${beerId}`
            const successDestination = beerId == null ? "/beers" : `/beers/${beerId}`
            const httpMethod = beerId == null ? "POST" : "PUT";

            $.ajax({
                type: httpMethod,
                url: url,
                dataType: "json",
                data: form,
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                crossDomain: true
            }).done(() => {
                window.location.href = successDestination
            }).fail(error => {
                const response = JSON.parse(error.responseText)
                if (response.message === "Validation Error") {
                    response.fieldErrors.forEach(function (fieldError) {
                        const field = $(`#${fieldError.field}-error`)
                        field.text(fieldError.message)
                        field.show()
                    })
                } else {
                    alert(JSON.stringify(response.message))
                }
            })
        }

        function getInputJson() {
            const name = $('#name').val()
            const description = $('#description').val()
            const abv = $('#abv').val()
            const breweryId = $('#breweryId option:selected').val()
            const styleId = $('#styleId option:selected').val()

            const tags = $(`#tags`).val().split(/[ ,]+/)

            const data = {
                name: name,
                description: description,
                breweryId: breweryId,
                styleId: styleId,
                tags: tags,
                abv: abv
            }

            return data
        }
    </script>

</head>
<body>
<div id="inputs-container" class="row create-container">

    <div class="row">
        <div class="input-field col s9">
            <label for="name" th:text="#{beers.header.name}">Name</label>
            <input id="name" type="text" class="validate" th:value="${beer?.name}">
            <span id="name-error"
                  style="color: red"
                  hidden></span>
        </div>
        <div class="input-field col s3">
            <label for="abv" th:text="#{beers.header.abv}">ABV</label>
            <input id="abv" type="text" class="validate" th:value="${beer?.abv}">
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <select id="styleId">
                <option value="style" th:each="style : ${styles}"
                        th:value="${style.id}"
                        th:text="${style.name}"
                        th:selected="${style.id == beer?.style?.id}"> Choose Style
                </option>
            </select>
            <label for="styleId" th:text="#{beers.header.style}">Style</label>
        </div>
        <div class="input-field col s6">
            <select id="breweryId">
                <option value="style" th:each="brewery : ${breweries}"
                        th:value="${brewery.id}"
                        th:text="${brewery.name}"
                        th:selected="${brewery.id == beer?.brewery?.id}"> Choose Brewery
                </option>
            </select>
            <label for="breweryId" th:text="#{beers.header.brewery}">Brewery</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input id="picture-input" type="file" name="file" class="file-input" />
        </div>
    </div>

    <div class="row" style="padding-left: 15px">
        <div class="input-field col s8">
            <input id="tags" type="text" class="validate"
                   th:value="${#strings.listJoin(beer?.tags,', ')}">
            <label for="tags" th:text="#{beers.header.tags}">Tags</label>
        </div>

    </div>

    <div class="row">

        <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea"
                      th:text="${beer?.description}"></textarea>
            <label for="description" th:text="#{beers.header.description}">Description</label>
            <span id="description-error"
                  style="color: red" hidden></span>
        </div>

    </div>

    <div class="row">
        <div class="col s4 offset-s4">
            <button class="button accent search" th:onclick="|saveBeer(${beer?.id})|"
                    th:text="${beer == null ? 'Save' : 'Update'}">Save
            </button>
        </div>
    </div>

    <div class="row">
        <span id="error" style="color: #cf4444"></span>
    </div>

</div>

</body>
</html>