<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Beer Tag</title>
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/beer-card.css" th:href="@{/css/beer-card.css}">
    <link rel="stylesheet" href="../static/css/display-beer.css" th:href="@{/css/display-beer.css}">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css"
          th:href="@{/css/materialize-input-recolor.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script>

        function rateBeer(beerId) {

            const url = `/api/beers/${beerId}/rate`
            const data = {
                rating: $('#rating').val()
            }

            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                crossDomain: true,
                data: JSON.stringify(data)
            }).done(() => {
                window.location.reload()
            }).fail(error => {
                const response = JSON.parse(error.responseText)
                if (response.message === "Validation Error") {

                    response.fieldErrors.forEach(function (fieldError) {
                        const field = $(`#${fieldError.field}-error`)
                        field.text(fieldError.message)
                        field.show()
                    })
                } else {
                    alert(JSON.stringify(response.message))
                }
            })
        }

        function wishBeer(beerId, isWished) {
            const httpMethod = isWished ? "DELETE" : "PUT"

            $.ajax({
                type: httpMethod,
                url: "/api/users/wishBeer",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                data: JSON.stringify(beerId)
            }).done(() => {
                window.location.reload()
            }).fail(error => {
                const response = JSON.parse(error.responseText)
                alert(response.message)
            })
        }

        function drinkBeer(beerId, isDrink) {
            const httpMethod = isDrink ? "DELETE" : "PUT"

            $.ajax({
                type: httpMethod,
                url: "/api/users/drankBeer",
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                data: JSON.stringify(beerId)
            }).done(() => {
                window.location.reload()
            }).fail(error => {
                const response = JSON.parse(error.responseText)
                alert(response.message)
            })
        }


    </script>

</head>
<body>

<div class="row detailed-container">

    <div class="row " style="padding-top: 50px">
        <div class="col s1 offset-s10">

            <div class="auth-group col" style="top: 25px">
                <button class="button login" sec:authorize="!isAuthenticated()" onclick="window.location='/login'">Sign in</button>
                <button class="button register" sec:authorize="!isAuthenticated()" onclick="location.href='/register'" >Join us</button>
            </div>

            <button class="back-button accent"
                    th:if="${#authentication.name == beer.owner.email or #authorization.expr('hasRole(''ROLE_ADMINISTRATOR'')')}"
                    th:onclick="'window.location.href = \'/beers/' + ${beer.id} + '/update\''">Edit
            </button>

        </div>
        <div class="col s1 "
             th:if="${#authentication.name == beer.owner.email or #authorization.expr('hasRole(''ROLE_ADMINISTRATOR'')')}">
            <form th:action="@{'/beers/{id}/delete'(id=${beer.id})}"
                  th:method="post">
                <input type="hidden" name="_method" value="delete">
                <button class="back-button accent" type="submit" id="delete-submit" onclick=" return confirm('Are you sure you want to delete this Beer?');">Delete</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col s4 offset-s1">
            <div class="detailed-card">
                <div class="detailed-card-image">
                    <img th:src="${beer.pictureUrl}"
                         src="https://cdn2.justwineapp.com/assets/article/2017/05/free-images-beer-on-ice-pabst-blue-ribbon-creative-commons-cc-commercial-use-can.jpg">
                </div>
            </div>
            <br/>
            <br/>
            <div class="row" style="padding-left: 30px;">

                <div class="col s1">
                    <a class="button register" sec:authorize="isAuthenticated()"
                       th:text="${isDrank} ? Undrink : Drink"
                       th:onclick="|drinkBeer(${beerId},${isDrank})|">Drink</a>
                </div>
                <div class="col s1 offset-s3" sec:authorize="isAuthenticated()">
                    <a class="button register" th:text="${isWished} ? Unwish : Wish"
                       th:onclick="|wishBeer(${beerId},${isWished})|">Wish</a>

                </div>

                <div class="col s1 offset-s3" sec:authorize="isAuthenticated()">
                    <a class="button register" th:onclick="|rateBeer(${beer.id})|">Rate</a>
                </div>
            </div>

            <div class="input-field col s4"
                 sec:authorize="isAuthenticated()">
                <input id="rating" type="text" class="validate">
                <label for="rating">Rating</label>
                <span id="rating-error"
                      style="color: red"
                      hidden>Beer</span>
            </div>

        </div>

        <div class="detailed-card-content col s4 offset-s1">

            <div class="col s12">
                <p th:text="${'Name: ' + beer.name}">Name: Beer</p>
            </div>


            <div class="col s12">
                <p th:text="${'Style: ' + beer.style.name}">Style: Pale Ale</p>
            </div>


            <div class="col s12">
                <p th:text="${'ABV: ' + beer.abv}">ABV: 7.5%</p>
            </div>


            <div class="col s12">
                <p th:text="${'Brewery: ' + beer.brewery.name}">Brewery: Anchorage</p>
            </div>


            <div class="col s12">
                <p th:text="${'Brewery: ' + beer.brewery.originCountry}">Country: Czech Republic</p>
            </div>


            <div class="col s12">
                <p th:text="${'Rating: ' + #numbers.formatDecimal(beer.averageRating, 0, 'COMMA', 1, 'POINT')}">
                    Rating:
                    5.0</p>
                <span sec:authorize="isAuthenticated()"
                      th:text="${'Your rating: ' + #numbers.formatDecimal(rating.rating, 0, 'COMMA', 1, 'POINT')}">Your rating: 5.0</span>
            </div>


            <div class="col s12 ">
                <p>Description:</p>
                <p th:text="${beer.description}">I am a very simple card. I am good at
                    containing small bits of
                    information.
                    I am convenient because I require little markup to use effectively.
                    Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when
                    an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.</p>
            </div>
            <div class="col s1">
                <p>Tags: </p>
            </div>
            <div class="col s11">
                <ul style="list-style: none" th:each="tag : ${beer.tags}">
                    <li style="display: inline" th:text="${tag.name}">Tag</li>
                </ul>
            </div>

        </div>
    </div>

</div>


</body>
</html>