<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>User Profile | Beer-Tag</title>

    <link th:href="@{/css/my-style.css}" href="../static/css/my-style.css" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" href="../static/css/buttons.css" rel="stylesheet">
    <link th:href="@{/css/materialize-input-recolor.css}" href="../static/css/materialize-input-recolor.css"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<div class="auth-group">
    <form class="form"
          th:if="${#authentication.name == user.email or #authorization.expr('hasRole(''ROLE_ADMINISTRATOR'')')}"
          th:action="@{'/users/{id}/update'(id=${user.getId()})}" method="get">
        <button type="submit" class="button accent">Update</button>
    </form>

    <form class="form"
          th:if="${#authentication.name != user.email and #authorization.expr('hasRole(''ROLE_ADMINISTRATOR'')')}"
          th:action="@{'/users/{id}/delete'(id=${user.getId()})}" th:object="${user}" method="post">
        <button type="submit" class="button accent"
                onclick="return confirm('Are you sure you want to delete this profile?');">Delete
        </button>
    </form>
</div>

<div id="inputs-container" class="row">
    <h4 th:text="#{userTable.user}">User Profile</h4>

    <div class="user-info">
        <div class="user-avatar">
            <div class="avatar-holder">
                <img th:src="${user.getPhoto()}"
                     src="https://randomuser.me/api/portraits/lego/1.jpg"
                     alt="User photo">
            </div>
            <span class="card-text" th:text="'# '+ ${user.getId()}"># ID</span>
        </div>
        <div class="info">
            <span class="name" th:text="${user.getFirstName()}">name</span>
            <span class="name" th:text="${user.getLastName()}">name</span>
            <div class="user-details">
                <p class="username" th:text="${user.getEmail()}">@username</p>
            </div>
        </div>
    </div>

    <div class="user-cards">
        <div class="box">
            <div class="content">
                <h3>Wish List</h3>
                <div class="list-item">
                    <div class="labels">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
                             alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg">
                    </div>
                    <div class="details">
                        <div th:if="${wishList.isEmpty()}">
                            <h5 th:text="#{userTable.header.noWishBeers}">No wish beers.</h5>
                        </div>
                        <div th:unless="${wishList.isEmpty()}">
                            <div th:each="beer : ${wishList}">
                                <form class="form" th:action="@{/beers/{id}(id=${beer.id})}" method="get">
                                    <button type="submit" class="button beer-details">
                                        <a th:text="${beer.getName()}">Wish List</a>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>Drank List</h3>
                <div class="list-item">
                    <div class="labels">
                        <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
                             alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg">
                    </div>
                    <div class="details">
                        <div th:if="${drankList.isEmpty()}">
                            <h5 th:text="#{userTable.header.noDrankBeers}">No drank beers.</h5>
                        </div>
                        <div th:unless="${drankList.isEmpty()}">
                            <div th:each="beer : ${drankList}">
                                <form class="form" th:action="@{/beers/{id}(id=${beer.id})}" method="get">
                                    <button type="submit" class="button beer-details">
                                        <a th:text="${beer.getName()}">Drank List</a>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="content">
                <h3>Top Ranked Beers</h3>
                <div class="list-item">
                    <div class="labels">
                        <img src="https://www.pngitem.com/pimgs/m/317-3174427_rating-star-single-png-transparent-png.png"
                             alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg">
                    </div>
                    <div class="details">
                        <div th:if="${topRankedBeers.isEmpty()}">
                            <h5 th:text="#{userTable.header.noBeers}">No ranked beers.</h5>
                        </div>
                        <div th:unless="${topRankedBeers.isEmpty()}">
                            <div th:each="beer : ${topRankedBeers}">
                                <form class="form" th:action="@{/beers/{id}(id=${beer.id})}" method="get">
                                    <button type="submit" class="button beer-details">
                                        <a th:text="${beer.getName()}">Name</a>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>