<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home Page | Beer-Tag</title>
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/bullet.css" th:href="@{/css/bullet.css}">
</head>

<body>

<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg">
    <button class="button search login" onclick="location.href='/beers'">Search for beers</button>
</div>

<div class="auth-group">
    <button sec:authorize="!isAuthenticated()" class="button login" onclick="location.href='/login'">Sign in</button>
    <button sec:authorize="!isAuthenticated()" class="button register" onclick="location.href='/register'">Join us
    </button>
    <button sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="button register" onclick="location.href='/admin'">Admin
        Portal
    </button>
    <button sec:authorize="isAuthenticated()" class="button login" onclick="location.href='/logout'">Logout</button>
    <button sec:authorize="hasRole('ROLE_REGISTERED')" class="button login" onclick="location.href='/profile'">Profile</button>
</div>

<div class="logo-font">
    BEER TAG
</div>

<ul id="bullets-container" class="dot">
    <li>explore beers, breweries and even more</li>
    <li>share your experience</li>
    <li>find new beers</li>
</ul>

</body>
</html>