<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In | Beer-Tag</title>
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css"
          th:href="@{/css/materialize-input-recolor.css}">
    <link rel="stylesheet" href="../static/css/create-account-styles.css"
          th:href="@{/css/create-account-styles.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<div class="auth-group">
    <button class="button register" onclick="location.href = '/register'">Join us</button>
</div>

<div class="row auth-container">
    <p><i th:if="${param.error}" class="error">Wrong email or password.</i></p>
    <p><i th:if="${param.logout}" style="color: #95999c">You have been logged out.</i></p>

    <form th:action="@{/authenticate}" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="username" type="email"
                       th:autofocus autocomplete required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password"
                       th:autofocus autocomplete required minlength="5" max="50">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s4">
                <button type="submit" class="button accent login search">Login</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>