<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register Confirmation | Beer-Tag</title>
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/bullet.css" th:href="@{/css/bullet.css}">
    <link th:href="@{/css/materialize-input-recolor.css}" href="../static/css/materialize-input-recolor.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<div class="auth-group">
    <button class="button login" onclick="location.href = '/login'">Sign in</button>
</div>

<ul id="bullets-container" class="dot">
    <li>You have successfully registered in Beer-Tag. Please, Sign in.</li>
</ul>

</body>
</html>