<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration | Beer-Tag</title>
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css"
          th:href="@{/css/materialize-input-recolor.css}">
    <link rel="stylesheet" href="../static/css/create-account-styles.css"
          th:href="@{/css/create-account-styles.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>

<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<div class="auth-group">
    <button class="button login" onclick="location.href = '/login'">Sign in</button>
</div>

<div id="inputs-container" class="row">
    <p>
        <i th:if="${error != null}" th:text="${error}" class="error"></i>
    </p>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input th:field="*{firstName}" type="text"
                       th:autofocus autocomplete required minlength="3" max="50"/>
                <label>First Name</label>
            </div>
            <div class="input-field col s6">
                <input th:field="*{lastName}" type="text"
                       th:autofocus autocomplete required minlength="3" max="50"/>
                <label>Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input th:field="*{email}" type="email"
                       th:autofocus autocomplete required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"/>
                <label>Email</label>
                <span class="helper-text" data-error="wrong" data-success="right "></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input th:field="*{password}" type="password"
                       th:autofocus autocomplete required minlength="5" max="50"/>
                <label>Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input th:field="*{passwordConfirmation}" type="password"
                       th:autofocus autocomplete required minlength="5" max="50"/>
                <label>Confirm Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 offset-s4">
                <button class="button accent search">Register</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>