<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Account Settings | Beer-Tag</title>

    <link th:href="@{/css/my-style.css}" href="../static/css/my-style.css" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" href="../static/css/buttons.css" rel="stylesheet">
    <link th:href="@{/css/materialize-input-recolor.css}" href="../static/css/materialize-input-recolor.css"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/materialize-input-recolor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>

<div id="inputs-container" class="row">
    <h4 th:text="#{userTable.editUser}">Account Settings</h4>

    <form action="#" th:action="@{'/users/{id}/update'(id=${user.id})}" th:object="${userDto}" method="post"
          enctype="multipart/form-data">
        <div class="row">
            <span class="input">
                <div class="profile-photo">
                    <div class="avatar-holder">
                        <img th:src="${user.getPhoto()}" src="https://randomuser.me/api/portraits/lego/1.jpg"
                             alt="User photo">
                    </div>
                    <span class="actions">
                        <span id="avatarArea">
                            <input type="file" id="fileInput" th:field="*{photo}"/>
                        </span>
                    </span>
                </div>
            </span>
            <div class="input-field col s6">
                <input type="text"
                       th:autofocus required minlength="3" max="50" name="firstName" th:value="${user.firstName}">
                <label>First Name</label>
            </div>
            <div class="input-field col s6">
                <input type="text"
                       th:autofocus required minlength="3" max="50" name="lastName" th:value="${user.lastName}">
                <label>Last Name</label>
            </div>
        </div>

        <div class="input-field col s10">
            <input type="email" name="email" th:value="${user.email}" disabled>
            <label>Email</label>
            </input>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input th:if="${#authentication.name == user.email}"
                       th:field="*{oldPassword}" type="password"
                       th:autofocus autocomplete minlength="5" max="50"/>
                <label>Old Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input th:if="${#authentication.name == user.email}"
                       th:field="*{password}" type="password"
                       th:autofocus autocomplete minlength="5" max="50"/>
                <label>New Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input th:if="${#authentication.name == user.email}"
                       th:field="*{confirmedPassword}" type="password"
                       th:autofocus autocomplete minlength="5" max="50"/>
                <label>Confirm Password</label>
            </div>
        </div>


        <div class="row">
            <div class="col s12 offset-s8">
                <button class="button accent search">Update</button>
            </div>
        </div>
    </form>

</div>

</body>

</html>