<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>All Users | Beer-Tag</title>

    <link th:href="@{/css/my-style.css}" href="../static/css/my-style.css" rel="stylesheet">
    <link th:href="@{/css/buttons.css}" href="../static/css/buttons.css" rel="stylesheet">
    <link th:href="@{/css/materialize-input-recolor.css}" href="../static/css/materialize-input-recolor.css"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<div class="brand-group">
    <img src="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg" class="home-button"
         alt="https://www.flaticon.com/svg/static/icons/svg/3069/3069361.svg"
         onclick="location.href = '/'">
    <button class="button search login" onclick="location.href = '/beers'">Search for beers</button>
</div>
<div class="auth-group">
    <button sec:authorize="hasRole('ROLE_ADMINISTRATOR')" class="button navigate" onclick="location.href='/admin'">Admin
        Portal
    </button>
</div>

<div id="inputs-container" class="row">
    <div th:if="${users.isEmpty()}">
        <h4 th:text="#{users.emptyTitle}">No Users</h4>
    </div>
    <div th:unless="${users.isEmpty()}">
        <h4 th:text="#{users.title}">All Users</h4>
    </div>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{users.header.firstName}">First name</div>
            <div class="cell" th:text="#{users.header.lastName}">Last name</div>
            <div class="cell" th:text="#{users.header.email}">Email</div>
        </div>
        <div class="row" th:each="user : ${users}">
            <div class="cell" th:text="${user.firstName}">First name</div>
            <div class="cell" th:text="${user.lastName}">Last name</div>
            <div class="cell" th:text="${user.email}">Email</div>
            <form class="form" th:action="@{/users/{id}(id=${user.id})}" th:object="${users}"
                  method="get">
                <button type="submit" class="button navigate">Profile</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>